<div id="search">
  <%= form_tag '/search', :id => "searchform", :remote => true, :onsubmit => '$("#throbber").show();' do %>    
    <%= text_field_tag "q", "", :id => "s", :placeholder => "Search" %>
  <% end %>
</div>
