<%= render "/shared/margin_bottom" %>
<div class="about_page effects">
  <h2>About the Word Craze Game</h2>
  <p>
    The Word Craze game is an association game. The game is now in beta so the more you play the more info there will be to play with. 
  </p>

  <h2>
    What can I do?
  </h2>
  <p>
    You can associate words with other words, search for a word to see its associations, or you can click on the nodes and follow an interesting associative path, visually!
  </p>
  <p>
    I hope you enjoy and if you have any questions or comments please feel free to <%= link_to "email me.", give_feedback_path %>
  </p>
</div>
