<p>Hello,</p>

<p>You have recieved a new email regarding WordCraze.</p>

<h2>Email Content </h2>

<p><%= @contact.comments %></p>

<p>You may contact them at...</p>

<ul>
	<li><%= @contact.email if @contact.email %></li>
</ul>
