<% title "Word" %>

<p>
  <strong>Name:</strong>
  <%= @word.name %>
</p>

<p>
  <%= link_to "Edit", edit_word_path(@word) %> |
  <%= link_to "Destroy", @word, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", words_path %>
</p>
