<% title "Association" %>

<p>
  <strong>Name:</strong>
  <%= @association.name %>
</p>

<p>
  <%= link_to "Edit", edit_association_path(@association) %> |
  <%= link_to "Destroy", @association, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", associations_path %>
</p>
