// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: white url(/assets/fractal.jpg) no-repeat center center; 
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.contact_form {
  color: white;
  margin: 100px auto 0 auto;
  width: 400px;
  background-color: #4B7399;
  padding: 10px;
  font: 18px/19px 'SFArchRivalRegular', Arial, sans-serif;
  line-height: 20px;
    
}
.effects {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
  filter:alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  
}
#container {
  width: 98%;
  border: solid 1px white;
  background-color: #FFF;
  margin: 50px auto 70px auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  filter:alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
  //background: rgba(255, 255, 255, 0.9);

}
.devise {
  font: 18px/19px 'SFArchRivalRegular', Arial, sans-serif;
  line-height: 20px;
  
  color: white;
  
  margin: 100px auto 0 auto;
  width: 400px;
  background-color: #4B7399;
  padding: 10px;
}
.devise a {
  font: 18px/18px 'SFArchRivalRegular', Arial, sans-serif;
  color: white;
  text-decoration: none;
}
h2 {
  color:#CAC1C1;
}
.about_page {
  font: 18px/19px 'SFArchRivalRegular', Arial, sans-serif;
  line-height: 20px;
  color: white;
  margin: 100px auto 0 auto;
  width: 700px;
  background-color: #4B7399;
  padding: 10px;
}
.about_page a{
  color: #CAC1C1;
  text-decoration: none;
}


#throbber {
  background-color: #F4F4F4;
  padding: 5px 10px;
  margin-top: 0px;
  opacity: 0.75;
  color: black;
  left: 45%;
  right: 45%;
  top: 30%;
  bottom: 70%;
  position: fixed;
  width: 100px;
  height: 70px;
  z-index: 23333;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #111;
  -webkit-box-shadow: 5px 5px 20px #111;
  opacity: 0.75;
}

#flash_notice, #flash_error, #flash_alert, #spam{
  padding: 5px 8px;
  margin: 10px 0;
  text-align: center;
  width: 700px; 
  height: 20px; 
  position: fixed; 
  top: 50px; 
  left: 50%; 
  margin: 0 0 0 -351px; 
}


#flash_notice,  #spam{
  border: solid 1px #6C6;
  color: black;
  background-color: #E1E1E2;
  font: 18px/19px "SFArchRivalRegular", Arial, sans-serif;
  line-height: 20px;
  text-align: center;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #5F89B1;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #4B7399;
  color: #CAC1C1;
  font: 18px/1px 'SFArchRivalRegular', Arial, sans-serif;
  background: rgba(75, 115, 153, 0.9);
  
  
}
.image {
  position: fixed;
  top: 0;
  left: 5px;
  top: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  
}
#header h2 {
  margin-left: 40px;
  top: 0px;
  line-height: 0;
  color: #CAC1C1;
  font: 28px/1px 'SFArchRivalRegular', Arial, sans-serif;
  margin-top: 17px;
}
#header a {
  color: #CAC1C1;
  text-decoration: none;
  font: 18px/1px 'SFArchRivalRegular', Arial, sans-serif;

}

#search {
  position:fixed;
  top: 3px;
  margin: 0;
  width: 70px; 
  left: 50%; 
  margin: 0 0 0 -75px; 
  
}
#search_field {
  border: none;
  background: #FFF;
  width: 285px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  outline: 0;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  border-color: #339933;
}
textarea {
  border: none;
  background: #FFF;
  width: 365px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 10px;
  outline: 0;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  border-color: #339933;
  
}
input[type="email"], input[type="password"], input[type="text"]{
  border: none;
  background: #FFF;
  width: 265px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 10px;
  outline: 0;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  border-color: #339933;
}

#location {
  position:fixed;
  top: 18px;
  left: 270px;

}
#notes {
  position: fixed;
  bottom: 0;
  left: 10px;
  height: 80px;
  width: 300px;
  font-size: 10px;
  line-height:15px;
}
#user_links {
  position: fixed;
  top: 0px;
  right: 40px;
  margin: 0 0 0 0;
  height: 21px;
  width: 415px;
  padding-top: 20px;
  }
  
.fb-like{
  float: right;
  top: 3px;
  right: 8px;
  width: 50px;
  margin-right: 5px;
  padding: 0px;
  z-index: 999999;
}
#facebook_like{
  
}
#user_links a{  
  border-right: solid #CAC1C1 thin;
  padding: 30px 8px 4px 4px;
}
.user_link_first {
  border-left: solid #CAC1C1 thin;
  padding-left :8px;
}

#association_name {
  border: none;
  background: #FFF;
  width: 295px;
  padding: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  outline: 0;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  border-color: #339933;
}
#association_submit{
  border: none;
  background: #FFF;
  width: 165px;
  padding: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  outline: 0;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  border-color: #339933;
  
}
#rated_or_spam {
  padding: 5px;
  margin: 10px 0;
  text-align: left;
  width: 150px; 
  height: 20px; 
  position: fixed; 
  bottom: 12px; 
  left: 50%; 
  margin: 0 0 0 250px; 
  font-size: 10px;
  
}
#rated_or_spam a{
  font-size: 10px;
  margin: 0 auto;
  line-height: 1px;
  color: #CAC1C1;
  text-decoration: none;
  
}

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95px;
  background-color: #4B7399;
  color: white;
  background: rgba(75, 115, 153, 0.9);
}

#word_association_div {
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
}
#random_word {
  font-size: 25px;
  height: 24px;
  margin: 5px auto 0 auto;
  text-align:center;
  line-height: 38px;
  background-color: yellow;
  width: 475px;
  height: 40px;
  color: black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  
}
#notes {
  position: fixed;
  bottom: 0;
  left: 10px;
  height: 80px;
  width: 300px;
  font-size: 10px;
  line-height:15px;
}

#the_arrow {

}

#arrow_pointing span {
  
}

#arrow_pointing {
  padding-top: 10px;
  position: fixed;
  bottom: 20px;
  left: 410px;
  height: 80px;
  width: 300px;
  font-size: 14px;
  line-height:15px;
}

.nodetext{
  color: white;
  text-decoration: none;
//  font: 18px SFArchRivalRegular, Arial, sans-serif;
  
}


.node_div div {
  fill: yellow;
  width: 100px;
  height: 30px;
  background-color: steelblue;
  z-index: 33333;
}
.nodes{
  background-color: blue;
  height: 20px;
  width: 30px;
  padding: 5px;
  
}
.node_a {
}
.nodetext {
  
}
.node_div{
//  height: 100px;
//  width: 100px;
  background-color: blue;
}

#searchform #s {
  width: 100px;
  background: #f6f4ed url(/assets/nav-icons.png) no-repeat -8px -497px;
  font: italic 105%/110% "Times New Roman", Times, serif;
  color: #86856f;
  padding: 3px 4px 3px 28px;
  border: solid 1px #bebdaa;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}
#searchform #s:focus {
  color: #333;
  width: 130px;
  background-color: #fff;
  font-style: normal;
}


circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
node.div {
  background-color: blue;
}

